.app-loading {
    text-align: center;
    top: 200px;
    position: absolute;
    display: block;
    left: 40%
}

.app-container {
    max-width: 775px;
    width:760px;
}

.app-heading {
    max-height: 60px;
    width:745px;
}